/* .contenedor {
  display: flex;
  flex-wrap: wrap;
}

.elemento {
  width: calc(20% - 20px);
  height: 100px;
  margin: 10px;
  text-align: center;
}

.numero {
  font-family: grinch;
  font-size: 75px;
  margin: 0 auto;
}

.titulo {
  font-size: 100px;
} */
