/* You can add global styles to this file, and also import other style files */

@font-face {
  font-family: vamp;
  src: url(assets/fonts/MrVamp.ttf) format("opentype");
}

@font-face {
  font-family: coming;
  src: url(assets/fonts/ComingSoon.ttf) format("opentype");
}

@font-face {
  font-family: grinch;
  src: url(assets/fonts/Grinched.otf) format("opentype");
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background: repeat url('./assets/img/logo.webp');
}
.vamp {
  font-family: vamp !important;
}
.coming {
  font-family: coming !important;
}

.mdc-form-field {
  font-family: coming !important;
  font-size: 20px !important;
}

.mat-mdc-tab-body-content{
    overflow: hidden !important;
}

.contenedor {
    display: flex;
    flex-wrap: wrap;
  }
  
  .elemento {
    width: calc(20% - 20px);
    height: 100px;
    margin: 10px;
    text-align: center;
  }
  
  .numero {
    font-family: grinch;
    font-size: 75px;
    margin: 0 auto;
  }
  
  .titulo {
    font-size: 100px;
  }
  
  .resaltado{
    font-weight: bold;
    color: red !important;
  }

  .oculto {
    visibility: hidden;
  }

  .alto {
    height: 18em;
    overflow: auto;
  }